*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightest-color: #F5EDDC;
  --light-color: rgb(235, 235, 235);
  --dark-color: gray;
  --darker-color: rgb(82, 82, 82);
  --darkest-color: #635666;
  --darkest-color-2: #38303a;

  --light-gray-color: #e5e5e5;
  --light-gray-color-2: #cfcece;


  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  
  --transition: 0.3s ease-in-out all;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.alert {
  padding: 0.375rem 0.75rem;
  /* padding-bottom: 1rem; */
  border-color: transparent;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
}
.login .alert, .register .alert{
  font-size: 1rem;

}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
@keyframes spin {
  to{
    transform: rotate(1turn);
  }
}

.spinner{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%,var(--darkest-color));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 10px), #000 0);
  animation: spin 0.8s infinite linear;

  margin: 0 auto;
}
