.user-information{
    background-color: var(--darker-color);
  
    padding: 30px 50px;
    margin: 20px 15px 20px 30px;

    color: white;

    display: flex;
    flex-direction: column;
    gap:15px;
   
    border-radius: 25px;
  }